In [1]:
import pandas as pd 
import numpy as np
import pickle

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df = pickle.load(open('dataset_level3_feature_ready.pkl' , 'rb'))

In [4]:
df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
52242,South Africa,Australia,Centurion,36,82,8,5.684211,30.0,128
31385,India,England,Durban,154,21,8,9.333333,44.0,218
48187,Pakistan,Bangladesh,Mirpur,68,59,8,6.688525,23.0,135
1408,West Indies,Pakistan,Dubai,36,75,5,4.800000,21.0,115
30502,New Zealand,India,Johannesburg,137,24,5,8.562500,51.0,190
...,...,...,...,...,...,...,...,...,...
12062,New Zealand,India,Auckland,70,63,8,7.368421,33.0,132
59202,India,Australia,Melbourne,50,83,10,8.108108,41.0,184
46327,West Indies,England,Pallekele,154,12,6,8.555556,36.0,179
56615,South Africa,West Indies,Durban,88,70,10,10.560000,62.0,195
10031,Australia,Sri Lanka,Adelaide,66,77,10,9.209302,45.0,233

In [5]:
x = df.drop(columns=['runs_x'])
y = df['runs_x']

In [6]:
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size=0.2 ,random_state=1)

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score , mean_absolute_error

In [8]:
trf = ColumnTransformer(
    transformers=[
    ('trf' , OneHotEncoder(drop='first' , sparse_output=False) ,  ['batting_team' , 'bowling_team' , 'city'])
]
    ,
    remainder = 'passthrough'
)

In [9]:
pipe = Pipeline(steps = [
    ('step 1' , trf),
    ('step 2' , StandardScaler()),
    ('step 3' , XGBRegressor(n_estimators=1000 , learning_rate=0.2 , max_depth=12 , random_state=1))
])

In [10]:
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
print(r2_score(y_test , y_pred))
print(mean_absolute_error(y_test, y_pred))

0.985476553440094
1.7746833562850952

In [11]:
pickle.dump(pipe , open('pipe.pkl' , 'wb'))